*{
    padding: 0%;
    margin: 0%;
}
.login-container{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 100vh;
    padding: 20px;
    width: 45vw;
    height: 30vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}
.search-bar{
    width: 90%;
    padding:3px;
    margin: 7px;
    border-radius: 5px;
    height: 3.5vh;
    border: 0.5px solid rgb(165, 161, 161);
}
.login-btn{
    height: 5vh;
    padding: 7px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    border: none;
    color:white;
    background-color: rgb(21, 123, 21);
}
.main-body{
    margin:25px;
}
